html{
    background: #f7f7f7;
    font-family: "Arial", sans-serif; 
    color: #6d6d6d;
}
body header{
    display: block;
    position: fixed;top:0;left: 8%;
    
}
body{
    margin: 0px;
}
.container, body header{
    width: 84%;
    margin: auto;
    display: block;
}
.container{
    margin-top: 90px;
}
header{
    align-items: center;
    overflow: hidden;
    margin-top: 0px;
}
header img, header h2, .login fieldset label, .login input[type="password"],.login input[type="email"], a, nav, ul, li, .filter,#production-status, content, .schedule-input table{
    float: left;
}
.login a, .user-data{
    float: right;
}
img, .login fieldset{
    border: none;
}
nav, header, .login fieldset, progress, .progress-bar, #production-status, content, .sub-menu{
    width: 100%;
}
ul{
    padding: 0px;
    margin: 0px
}
.main-menu li a{
    background: #fff;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: solid 1px #ccc;
    border-bottom: none;
    margin: 0px 5px 0px 0px;
    color: #6d6d6d;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}
.main-menu li a:hover{
    border-top: solid 1px #344e81;
    color: #344e81;
}
.main-menu .active{
    background: #344e81;
    color: #fff;
}
.main-menu .active:hover{
    border-top: solid 1px #fff;
    background: #344e81;
    color: #fff;
}
/* sub-menu */
.sub-menu ul{
    margin: 0px
    
}
.sub-menu ul {
  text-align: left;
  display: inline;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.sub-menu ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.sub-menu ul li:hover {
    background: #555;
    color: #fff;
}
.sub-menu ul li ul {
    padding: 0;
    position: absolute;
    margin-top: 10px;
    left: 0;
    width: 300px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.sub-menu ul li ul li { 

    background: #555; 
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000;
}
.sub-menu ul li ul li:hover { background: #666; }
.sub-menu ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.sub-active{
    border-bottom: solid 1pt #344e81;  
    color: #344e81;
    background: red;
}
.filter, content, .sub-menu{
    background: #fff;
    border: solid 1pt #bebebe;
}
.f2{
    border: solid 0pt #bebebe;.
    border-top: none;
    border-bottom: solid 1pt #bebebe;
}
.schedule-input{
    border-top: none;
}
.sub-menu li a{
    padding: 10px;
    
}
li{
    list-style: none;
}
header{
    border-top: solid #103988;
}
header{
    background: #fff;
    height: 72px;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 8px -1px;
    position: static;
}
header img {
    margin-top: 15px;
    position: relative;
}
.user-data{
    margin-top: 28px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 13px;
}
.user-data img{
    margin-top: 0px;
    margin-right: 2px;
}
.user-data .option, .user-data a{
    margin-right: 20px;
}
.user-data .option:hover{
    text-decoration: underline;
}
a, .user-data .option{
    text-decoration: none;
}
.user-data .option{
    margin-right: 20px;
    color: #344e81;
}
header h2{
    margin-left: 20px;
}
/* login */
.login{
    width: 510px;
    margin: auto;
    margin-top: 20%;
    background: #fff;
    padding: 10px;
    height: 230px;
    border: solid 1pt #bebebe;
}
.login fieldset{
    margin-top: 15px;
}
h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
input, select{
    font-size: 15px;
}
select{
    height: 25px;
}
label{
    font-weight: bold;
}
.login fieldset label, .login input[type="password"],.login input[type="email"]{
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 150px;
    font-size: 15px;
}
.login input[type="password"],.login input[type="email"]{
    border-radius: 3px;
    width: 230px;
    border: solid 1pt #bababa;
    padding: 5px;
}
input[type="submit"], input[type="button"]{
    border-radius: 3px;
    border: solid 1pt #bababa;
    padding: 5px;
}
.login input[type="submit"]{
    margin-left: 155px;
    border: solid 1pt #bababa;
    padding: 5px;
    width: 80px;
}
.login input[type="submit"]:hover, input[type="button"]:hover{
    background: #344e81;
    color: #fff;
}   
/*
input:invalid{
    background: yellow;
}
*/
.login a{
    color: rgba(19, 60, 137, 0.96);
    margin-top: 10px;
    font-size: 13px;
    font-weight: bold;
}
.login a:hover{
    text-decoration: underline;
}
hr{
    border: 1px solid #bababa;
}
.filter{
    padding: 5px;
    width: 99.3%;
}
#production-status{
    display: none;
    background: #fff; 
    height: 100%;
    border: solid 1pt #bebebe;  
    overflow: hidden;
    
}

/* Detalle de modelo */
.detail { width:100%;display:block;float:left;margin-top:0px;background:#fff;border:solid 1pt #ccc; padding: 10px;}
.detail h1{ width:100%; text-align:center;font-size:60pt;margin:0px;float:left;border-bottom:solid 1pt #ccc; color:#092b62; }
.detail h1>img { float:left; height:90px; cursor:pointer; }
.detail-wrap { width:31%; text-align:center;float:left; margin: 1% 1% 1% 1%;}
.detail-wrap div { width:48%;float:left;font-size:20pt; margin: 0 0 0 1% }
.detail-sub { background:#092b62; font-size:40pt;padding:5px; margin:0px; color:#ededed; }
.detail-wrap div h2{ margin: 0px;padding: 10px;}
.detail-wrap div h2:nth-child(1){background: #555; color: #ededed; }
.detail-wrap div h2:nth-child(2){background: #ccc; color: #092b62; border-radius: 0px 0px 10px 10px;}

/* tabla */ 
table th	{
     /* IE6-9 */
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    background-image: url(bg.png), linear-gradient(to bottom, #ffffff 0%,#d6d6d6 100%);
    background-image: url(bg.png), -webkit-repeating-linear-gradient(#fff, #d6d6d6);;
    background-image: url(bg.png), -o-linear-gradient(#fff, #d6d6d6);
    background-image: url(bg.png), -moz-linear-gradient(#fff, #d6d6d6);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 );
	background-repeat: no-repeat;
    background-position: center right;
	cursor: pointer;

	
}
.headerSortUp {
	background-image: url(asc.png), linear-gradient(to bottom, #ffffff 0%,#d6d6d6 100%);
    background-image: url(asc.png), -webkit-repeating-linear-gradient(#fff, #d6d6d6);;
    background-image: url(asc.png), -o-linear-gradient(#fff, #d6d6d6);
    background-image: url(asc.png), -moz-linear-gradient(#fff, #d6d6d6);
}
.headerSortDown {
	background-image: url(desc.png), linear-gradient(to bottom, #ccc 0%,#d6d6d6 100%);
    background-image: url(desc.png), -webkit-repeating-linear-gradient(#ccc, #d6d6d6);;
    background-image: url(desc.png), -o-linear-gradient(#ccc, #d6d6d6);
    background-image: url(desc.png), -moz-linear-gradient(#ccc, #d6d6d6);
}

table, th, td, caption{
    border: solid 1pt #bababa; 
    border-collapse: collapse;
    padding: 5px;
}
table, caption{
    background: #fff; 
    text-align: left;
}
table{
    font-size: 20px;
    text-align: center;
    border-top: solid #103988;
    width: 99%;
    height: 100%;
    margin: 10px;
}
.schedule-input table, .schedule-edit table{
    font-size: 15px;
}
/*no compatible con ie9*/
.prod-status tbody, .schedule-input tbody, .schedule-edit tbody{
    display: block;
    height: 64vh;
    overflow: auto;
    width: 100%;
}

/* Para IE9 */
.old_ie_wrapper { height: 600px; overflow: auto; }
.old_ie_wrapper tbody { height: auto; }
/* continua normal */
.prod-status thead, .schedule-input thead, .schedule-edit thead{
    display: block;
}
/* tanaño de columnas main */
.prod-status td:nth-child(1), .prod-status th:nth-child(1) { min-width: 130px; }
.prod-status td:nth-child(2), .prod-status th:nth-child(2) { min-width: 60px; }
.prod-status td:nth-child(3), .prod-status th:nth-child(3) { min-width: 60px; }
.prod-status td:nth-child(4), .prod-status th:nth-child(4) { min-width: 120px; }
.prod-status td:nth-child(5), .prod-status th:nth-child(5) { min-width: 120px; }
.prod-status td:nth-child(6), .prod-status th:nth-child(6) { width: 100%; }
.prod-status td:nth-child(5){ color: #344e81; }
/* tamaño de columnas schedule-add */
.schedule-input td:nth-child(1), .schedule-input th:nth-child(1) { min-width: 50px; }
.schedule-input td:nth-child(2), .schedule-input th:nth-child(2) { min-width: 200px; }
.schedule-input td:nth-child(3), .schedule-input th:nth-child(3) { min-width: 200px; }
.schedule-input td:nth-child(4), .schedule-input th:nth-child(4) { width: 200px; }
/* tamaño de columnas schedule-edit */

.schedule-edit td:nth-child(1), .schedule-edit th:nth-child(1), .schedule-edit td:nth-child(2), .schedule-edit th:nth-child(2) { min-width: 50px; }
.schedule-edit td:nth-child(3), .schedule-edit th:nth-child(3) { min-width: 200px; }
.schedule-edit td:nth-child(4), .schedule-edit th:nth-child(4) { min-width: 200px; }
.schedule-edit td:nth-child(5), .schedule-edit th:nth-child(5) { width: 200px; }
/* termina los tamaños de las columnas */
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table tr:hover {
    background-color:#ccc;
    cursor: pointer;
}

/* popup*/ 
.popup{
    background: rgba(8, 7, 7, 0.65);
    opacity: 1;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    display: none;
}
.info{
    position:fixed;
    top:-100%;
    left:20%;
    right:20%;
    background-color:#fff;
    color:#7F7F7F;
    padding:20px;
    border:4pt solid rgb(85, 85, 85);
    -moz-border-radius: 20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    -moz-box-shadow: 0 1px 5px #333;
    -webkit-box-shadow: 0 1px 5px #333;
    box-shadow: 0 3px 0px rgba(23, 23, 23, 0.39);
    z-index:101;
}
a.cerrar{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #344e81;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 15px 6px;       
}

.cerrar:before {
    content: "×";

}

.info h1{
    border-bottom: 1px dashed #7F7F7F;
    margin:-20px -20px 0px -20px;
    padding:10px;
    background-color:#ccc;
    color:#344e81;
    -moz-border-radius:20px 20px 0px 0px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -khtml-border-top-left-radius: 20px;
    -khtml-border-top-right-radius: 20px;
}
.details-sub{margin: 10px 0px 0px 0px}
/* progress bar */
.progress{
  -webkit-animation: progress 1s linear infinite;
	-moz-animation: progress 1s linear infinite;
	animation: progress 1s linear infinite;
	background-repeat: repeat-x;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-color: CornflowerBlue;
	box-shadow:inset 0px 0px 6px 2px rgba(255,255,255,.3);
    /*background-image: url(pbar-ani-m.gif)*/
}
.progress-min{
    -webkit-animation: progress 1s linear infinite;
	-moz-animation: progress 1s linear infinite;
	animation: progress 1s linear infinite;
	background-repeat: repeat-x;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-color: #d43535;
	box-shadow:inset 0px 0px 6px 2px rgba(255,255,255,.3);
    /*background-image: url(pbar-ani-orange.gif)*/
}

.progress-mid{
    -webkit-animation: progress 1s linear infinite;
	-moz-animation: progress 1s linear infinite;
	animation: progress 1s linear infinite;
	background-repeat: repeat-x;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-color: #ea8209;
	box-shadow:inset 0px 0px 6px 2px rgba(255,255,255,.3);
    /*background-image: url(pbar-ani.gif)*/
}
.progress-average{
    -webkit-animation: progress 1s linear infinite;
	-moz-animation: progress 1s linear infinite;
	animation: progress 1s linear infinite;
	background-repeat: repeat-x;
	background-size: 30px 30px;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-color: #00cb08;
	box-shadow:inset 0px 0px 6px 2px rgba(255,255,255,.3);
    /*background-image: url(pbar-ani-green.gif)*/
}
@-webkit-keyframes progress
{
to {background-position: 30px 0;}
}
@-moz-keyframes progress
{
to {background-position: 30px 0;}
}

@keyframes progress
{
to {background-position: 30px 0;}
}
#progress {
    width: 100%;
    height: 30px;
    border: 1pt solid #111;
    border-radius: 4px;
	background: #404040;
	border: 1px solid #272727;
	overflow: hidden;
    box-shadow: rgb(96, 96, 96) 0 0px 20px -1px;
}
#progress div {
    height: 100%;
    color: #404040;
    text-align: right;
    line-height: 30px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
	border-right: 1px solid #272727;
    /*background-image: url(pbar-ani.gif);*/
}
/* Propuedades animacion y keyframes */
@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}
/* ie9*/
.progress-bar {
    background-color: #696969;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

    height: 35px;
  
    position: relative;
    display: block;
    margin-bottom: 5px;
    
}
  
.progress-bar > span {
    background-color: #216c9b;
    border-radius: 5px;
    display: block;
    text-indent: -9999px;
    height: 100%;
    color: #fff;
    
}
.schedule-save{
    margin: 0px 10px 10px 720px;
}
@media (max-width: 1680px) {
    body, body header, body header{width: 100%;margin: 0px;}
    body header, .container{left: 0%;}
    .logo{ height: 20px;  }
    .container, .filter{width: 100%;}
  }
@media (max-width: 1060px) {
    h2{ font-size: 12px;}
    html, .filter, table, a, input, select, .main-menu li a, .sub-menu ul li, .schedule-input table, .schedule-edit table{ font-size: 11px;}
    header a {font-size: 9px;}
    .detail-wrap{ width: 48%;}
    .detail-wrap h2 { font-size: 25pt;}
    .detail-wrap div h2 { font-size: 20pt;}
  } 
@media (max-width: 900px) {
    .detail h1 {font-size: 35pt;}
    .detail h1>img {height: 45px;}
}
@media (max-width: 720px) {
    html, .filter, table, a, input, sele    ct, .main-menu li a, .sub-menu ul li, .schedule-input table, .schedule-edit table{ font-size: 10px;}
    select{height: 20px;}
    h2{ font-size: 12px;}
    h1{ font-size: 14px;}
    h4 { font-size: 10px;}
    header { height: 60px;}
    header a {font-size: 8px;}
    .user-data img {width: 12px; }
    .container{margin-top: 70px;}
    .sub-menu ul li{ padding: 5px; }
    .sub-menu ul li ul{ margin-top: 5px;}
    table, td, th, tr { padding: 2px;}
    .logo{ height: 17px; margin-top: 10px; }
    .user-data { float: left;margin: 5px 0px 0px 10px; width: 100%}
    .prod-status td:nth-child(1), .prod-status th:nth-child(1) { min-width: 50px; }
    .prod-status td:nth-child(2), .prod-status th:nth-child(2) { min-width: 22px; }
    .prod-status td:nth-child(3), .prod-status th:nth-child(3) { min-width: 25px; }
    .prod-status td:nth-child(4), .prod-status th:nth-child(4) { min-width: 45px; }
    .prod-status td:nth-child(5), .prod-status th:nth-child(5) { min-width: 45px; }
    .prod-status td:nth-child(6), .prod-status th:nth-child(6) { width: 100%; }
    /* tamaño de columnas admin-schedule */
    .schedule-input td:nth-child(1), .schedule-input th:nth-child(1) { min-width: 15px; }
    .schedule-input td:nth-child(2), .schedule-input th:nth-child(2) { min-width: 75px; }
    .schedule-input td:nth-child(3), .schedule-input th:nth-child(3) { min-width: 75px; }
    .schedule-input td:nth-child(4), .schedule-input th:nth-child(4) { width: 100px; }
    .schedule-input input[type="number"]{ width: 70px;}
    .schedule-input input[type="date"]{width: 90px}
    .schedule-save{ margin: 0px 10px 10px 260px;}
    progress {height: 20px;}
    progress::-webkit-progress-value { background-size: 20px 28px, 100% 100%, 100% 100%;}
    .login{ width: 430px; }
    .detail-wrap{ width: 100%;}
    .detail h1 {font-size: 25pt;}
    .detail h1>img {height: 35px;}
    .info{left:10%;right:10%;}
  }
@media (max-width: 640px) {
    .detail h1 {font-size: 20pt;}
    .detail h1>img {height: 30px;}
    .info{left:5%;right:5%;}
    .login{ width: 350px; margin-top: 40%;}
  }
@media (max-width: 480px) {
    html, .filter, table, a, input, select, .main-menu li a, .sub-menu ul li, .schedule-input table{ font-size: 9px;}
    header a {font-size: 7px;}
    .user-data img {width: 10px; }
    .info{left:1%;right:1%;}
    .details-sub{ margin-left: -10px}
  }

